@page "/forgotpassword"
@using Freedom.Auth.Web.Utils
@using Freedom.Auth.Web.Const

<PageTitle>@SiteTitleLocal.GetTitle(Translate.ForgotPassword)</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div class="container column">
            <div class="chapter row">
                <span class="logo icon brain"></span>
                <p class="title">@Translate.ForgotPassword</p>
            </div>
            <label>
                <input type="text" placeholder="@Translate.Email"/>
            </label>
            <button class="icon with-text">
                <span class="icon login"></span> @Translate.Remember
            </button>
            <div class="nav-links row">
                <NavLink class="all-width" href="@Urls.Registration">@Translate.CreateAccount</NavLink>
                <NavLink href="@Urls.BasePath">@Translate.SignIn</NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
