@page "/registration"
@using Freedom.Auth.Web.Utils
@using Freedom.Auth.Web.Const

<PageTitle>@SiteTitleLocal.GetTitle(Translate.CreateAccount)</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <div class="container column">
            <div class="chapter row">
                <span class="logo icon add-user"></span>
                <p class="title">@Translate.CreateAccount</p>
            </div>
            <label>
                <input type="text" placeholder="@Translate.Name"/>
            </label>
            <label>
                <input type="text" placeholder="@Translate.Email"/>
            </label>
            <label>
                <input type="password" placeholder="@Translate.Password"/>
            </label>
            <label>
                <input type="password" placeholder="@Translate.ConfirmPassword"/>
            </label>
            <button class="icon with-text">
                <span class="icon login"></span> @Translate.Registration
            </button>
            <div class="nav-links row">
                <NavLink class="all-width" href="@Urls.BasePath">@Translate.SignIn</NavLink>
                <NavLink href="@Urls.ForgotPassword">@Translate.ForgotPassword</NavLink>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
