@page "/registration"
@using Freedom.Auth.Web.Utils
@using Freedom.Auth.Web.Const
@using Freedom.Auth.Web.Interfaces
@using Freedom.Auth.Web.Models.Users
@using Microsoft.AspNetCore.Components

@inject IJSRuntime _js
@inject IUserViewService _service
@inject NavigationManager _navigationManager

<PageTitle>@SiteTitleLocal.GetTitle(Translate.CreateAccount)</PageTitle>
<div class="container">
    <EditForm Model="_form" OnValidSubmit="HandleValidSubmit" class="column">
        <DataAnnotationsValidator/>
        <div class="chapter row">
            <span class="logo icon add-user"></span>
            <p class="title">@Translate.CreateAccount</p>
        </div>
        <label>
            <input type="text" placeholder="@Translate.Name" @bind="_form.Name"/>
        </label>
        <label>
            <input type="text" placeholder="@Translate.Email" @bind="_form.Email"/>
        </label>
        <label>
            <input type="password" placeholder="@Translate.Password" @bind="_form.Password"/>
        </label>
        <label>
            <input type="password" placeholder="@Translate.ConfirmPassword" @bind="_form.ConfirmedPassword"/>
        </label>
        <ValidationSummary/>
        <button type="submit" class="icon with-text" disabled="@_isLoading">
            <span class="icon @ButtonClass()"></span> @Translate.Registration
        </button>
        <div class="nav-links row">
            <NavLink class="all-width" href="@Urls.BasePath">@Translate.SignIn</NavLink>
            <NavLink href="@Urls.ForgotPassword">@Translate.ForgotPassword</NavLink>
        </div>
    </EditForm>
</div>

@code {
    private bool _isLoading;
    private string ButtonClass() => _isLoading ? "spinner" : "login";

    private readonly AddUserView _form = new();

    private async Task HandleValidSubmit()
    {
        _isLoading = true;

        var captcha = await _js.InvokeAsync<string>("getCaptcha");
        _form.Token = captcha;

        await _service.AddAsync(_form, Providers.Freedom);

        _isLoading = false;

        _navigationManager.NavigateTo("/");
    }
}
